<!-- start hero-header -->
<div class="hero img-bg-01">
	<div class="container">
		<form>
			<div class="form-group">
				<input type="text" placeholder="Search by name or tag" class="form-control flexdatalist" data-data="data/countries.json"
				    data-search-in='["name","capital"]' data-visible-properties='["capital","name","continent"]' data-group-by="continent"
				    data-selection-required="true" data-focus-first-result="true" data-min-length="1" data-value-property="iso2" data-text-property="{capital}, {name}"
				    data-search-contain="false" name="countries" #result>
				<button class="btn" (click)="searchClicked(result.value)"><i class="icon-magnifier"></i></button>
			</div>
		</form>
		<div class="col-xs-12 col-sm-12 col-md-8">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8">
					<div class="row">
						<div class="col-xss-12 col-xs-6 col-sm-6">
							<div class="form-group">
								<label>Where are you?</label>
								<select class="selectpicker show-tick form-control" title="Choose Location" #location>
									<option value="All"></option>
									<option value="nearby">near by</option>
									<option value="mansora">Mansora</option>
									<option value="alexandria">Alexandria</option>
									<option value="cairo">Cairo</option>
								</select>
							</div>
						</div>



					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-8">
					<div class="row">
						<div class="col-xss-12 col-xs-6 col-sm-6">
							<div class="form-group">
								<label>What do you feel like doing</label>
								<select class="selectpicker show-tick form-control" title="Choose Category" #category>
									<option value="All"></option>
									<option value="categorya">A</option>
									<option value="categoryb">B</option>
									<option value="categoryc">C</option>
									<option value="categoryd">D</option>
								</select>
							</div>
						</div>

					</div>
				</div>
				<div class="fearured-join-item mb-0">
					<a (click)="exploreClicked(location.value,category.value)" class="btn btn-primary btn-lg">Explore</a>
				</div>
			</div>
		</div>

	</div>

</div>
<!-- end hero-header -->