<!-- start hero-header -->
<div class="hero img-bg-01">
	<div class="container">

		<h1>What would you like to do?</h1>
		<p>Discover and book your unique entertainment experiences offered by local businesses</p>
	</div>
	<form>
		<div class="form-group">
					 <input type="text" placeholder="Search by name or tag" class="form-control" data-min-length="1" name="results"  #result>
 				<button class="btn" (click)="searchClicked(result.value)"><i class="icon-magnifier"></i></button>
 			</div>
	</form>
	<div class="row">
		<div class="col-xs-6 col-sm-6 mb-20-xs">

			<div class="form-group">
				<label>Where are you?</label>
				<select class="selectpicker show-tick form-control" title="Choose Location" #location>
									<option value="All"></option>
									<option value="nearby">Nearby</option>
									<option value="mansora">Mansora</option>
									<option value="alexandria">Alexandria</option>
									<option value="cairo">Cairo</option>
								</select>

			</div>
		</div>

		<div class="col-xs-6 col-sm-6 mb-20-xs">

			<div class="form-group">
				<label>What do you feel like doing</label>
				<select class="selectpicker show-tick form-control" title="Choose Category" #category>
									<option value="All"></option>
									<option value="categorya">A</option>
									<option value="categoryb">B</option>
									<option value="categoryc">C</option>
									<option value="categoryd">D</option>
								</select>
			</div>

		</div>
		<div class="col-xs-12 col-sm-12 col-md-12">

			<div class="fearured-join-item mb-0">
				<a (click)="exploreClicked(location.value,category.value)" class="btn btn-primary btn-lg">Explore</a>
			</div>
		</div>
	</div>
</div>
<!-- end hero-header -->