<html lang="en">

<body>

    <!-- start Container Wrapper -->
    <div>

        <!-- start Main Wrapper -->

        <div class="main-wrapper scrollspy-container">

                        <div class="col-xs-12 col-sm-8 col-md-9 mt-20">
                            <h4 class="section-title">Activities:</h4>

                            <div class="trip-guide-wrapper">

                                <div class="GridLex-gap-20 GridLex-gap-20-xs">

                                    <div class="GridLex-grid-noGutter-equalHeight">

                                        <div class="GridLex-col-6_sm-12_xs-6_xss-12" *ngFor="let activity of activities; let i = index">

                                            <div class="trip-guide-item no-person">

                                                <div class="trip-guide-image" style="width: 290px; height: 290px">
                                                    <img *ngIf="!activity.photos[0]" src="{{path}}image/activityPhotos/x" alt="images" style="width: inherit; height: inherit" />
                                                    <img *ngIf="activity.photos[0]" src="{{path}}image/activityPhotos/{{activity.photos[0]}}" alt="images" style="width: inherit; height: inherit" />
                                                </div>

                                                <div class="trip-guide-content">
                                                    <h3>{{activity.name}}</h3>
                                                    <p style="width: inherit;" class="truncate"> {{truncate(activity.description)}}</p>
                                                </div>

                                                <div class="trip-guide-bottom bg-light-primary bt">

                                                    <div class="trip-guide-meta row gap-10">
                                                        <div class="col-xs-6 col-sm-6">

                                                        </div>

                                                    </div>

                                                    <div class="row gap-10">
                                                        <div class="col-xs-12 col-sm-6">
                                                            <div class="trip-guide-price">
                                                                <span class="number">{{activity.price.toFixed(2)}}EGP</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 text-right">
                                                            <a (click)="onEdit(i)" class="btn btn-primary">Edit</a>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <br>
                                <div class="add-button-wrapper">
                                    <button style="font-size:20pt" type="button" class="add-button btn btn-primary" href="#addActivityModal" data-toggle="modal">Add</button>
                                </div>
                                <br>
                                <br>
                            </div>

                        </div>

        </div>

        <!-- end Main Wrapper -->

    </div>

    <!-- end Container Wrapper -->

    <!-- start Add Modal -->
    <div id="addActivityModal" class="modal fade login-box-wrapper" tabindex="-1" data-width="550" data-backdrop="static" data-keyboard="false" data-replace="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="onAddCancel()">&times;</button>
            <h4 class="modal-title2 text-center">Add a new activity</h4>
        </div>

        <div class="modal-body">
            <div *ngIf="!addDone">
                <div class="create-tour-wrapper">
                    <div class="row gap-20">
                      <div>
                        <div class="create-tour-inner">
                            <div class="col-sm-12 col-md-12">

                                <div class="form-group">
                                    <div *ngIf="addNameWarning" class="alert alert-danger alert-dismissable">
                                        <a class="close" (click)="hideNameWarning()" aria-label="close">&times;</a> Please fill out a name!
                                    </div>
                                    <label>Name</label>
                                    <input class="form-control" type="text" [(ngModel)]="addName" name="addName">
                                </div>

                            </div>

                            <div class="col-sm-12 col-md-12">

                                <div class="form-group">
                                    <div *ngIf="addDescriptionWarning" class="alert alert-danger alert-dismissable">
                                        <a class="close" (click)="hideDescriptionWarning()" aria-label="close">&times;</a> Please fill out a description!
                                    </div>
                                    <label>Description</label>
                                    <textarea style="resize: none;" class="form-control" type="text" rows="4" [(ngModel)]="addDescription" name="addDescription"></textarea>
                                </div>

                            </div>

                            <div class="col-sm-12 col-md-12">

                                <div class="form-group">
                                    <div *ngIf="addPriceWarning" class="alert alert-danger alert-dismissable">
                                        <a class="close" (click)="hidePriceWarning()" aria-label="close">&times;</a> Please choose a price!
                                    </div>
                                    <label>Price</label>
                                    <div class="input-group mb-15">
                                    <input class="form-control" type="number" [(ngModel)]="addPrice" name="addPrice">
                                    <span class="input-group-addon">EGP</span>
                                  </div>
                                </div>

                            </div>

                            <div class="col-sm-12 col-md-12">

                                <div class="form-group">
                                    <div *ngIf="addPerSlotWarning" class="alert alert-danger alert-dismissable">
                                        <a class="close" (click)="hidePerSlotWarning()" aria-label="close">&times;</a> Please choose the number of bookings per slot!
                                    </div>
                                    <label>Bookings per slot</label>
                                    <input class="form-control" placeholder="Maximum number of bookings for one slot" type="number" [(ngModel)]="addPerSlot" name="addPerSlot" value="1">
                                </div>

                            </div>

                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div *ngIf="addDone">
                <div class="create-done-wrapper">
                    <div class="icon">
                        <div class="icon-inner">
                            <i class="ti-check"></i>
                        </div>
                    </div>

                    <h1 class="text-lowercase">Congratulations!</h1>
                    <p class="lead">Your activity has been successfully added</p>
                    <h3>Now go ahead and add photos and slots!</h3>
                </div>
            </div>

        </div>

        <div class="modal-footer text-center">
            <button *ngIf="!addDone" type="button" class="btn btn-primary buttonSize" (click)="onAddSubmit()"> Add </button>
            <button *ngIf="!addDone" type="button" data-dismiss="modal" class="btn btn-primary btn-border buttonSize" (click)="onAddCancel()">Cancel</button>
            <button *ngIf="addDone" type="button" (click)="onAddDone()" data-dismiss="modal" class="btn btn-primary btn-border buttonSize">Done</button>
        </div>
    </div>
    <!-- end Add Modal -->

</body>

</html>
