<!-- start Register Modal -->
<div id="businessRegisterModal" class="modal fade login-box-wrapper"  style="background-color: #fff;" tabindex="-1" data-backdrop="static" data-keyboard="false" data-replace="true">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title text-center">Apply to add your Business</h4>
	</div>

	<div *ngIf="success" class="alert alert-success">
			Sucessful Registration!
	</div>
	<div *ngIf="failure" class="alert alert-danger">{{ message }}</div>

	<div class="modal-body">

		<div class="row gap-20">

		<div class="col-sm-12 col-md-12">

				<div class="form-group">
					<div *ngIf="nameRequired" class="alert alert-danger alert-dismissable">
						<a class="close" (click)="hideNameWarning()" aria-label="close">&times;</a> Please fill out your Business name!
					</div>
					<label>Name</label>
					<input class="form-control" placeholder="Enter your Business Name" type="text" [(ngModel)]="name" name = "name" required>
				</div>


			</div>


			<div class="col-sm-12 col-md-12">

				<div class="form-group">
					<div *ngIf="passwordRequired" class="alert alert-danger alert-dismissable">
						<a class="close" (click)="hidePasswordWarning()" aria-label="close">&times;</a> Password is required!
					</div>
					<div *ngIf="!passwordRequired && passwordLength" class="alert alert-danger alert-dismissable">
						<a class="close" (click)="hideLengthWarning()" aria-label="close">&times;</a> Password must be atleast 8 characters.
					</div>
					<label>Password</label>
					<input class="form-control" placeholder="Minimum 8 characters" type="password" [(ngModel)]="password" name="password" required>
				</div>

			</div>

			<div class="col-sm-12 col-md-12">

				<div class="form-group">
					<div *ngIf="!passwordRequired && identicalPasswords" class="alert alert-danger alert-dismissable">
						<a class="close" (click)="hideIdenticalPasswords()" aria-label="close">&times;</a> Passwords do not match
					</div>
					<label>Confirm Password</label>
					<input class="form-control" placeholder="Re-type password again" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
				</div>

			</div>


			<div class="col-sm-12 col-md-12">

				<div class="form-group">
					<div *ngIf="emailRequired" class="alert alert-danger alert-dismissable">
						<a class="close" (click)="hideEmailRequired()" aria-label="close">&times;</a> Email is required
					</div>
					<label>Email Address</label>
					<input class="form-control" placeholder="Enter your email address" type="text" [(ngModel)]="email" name = "email" required>
				</div>

			</div>

			<div class="col-sm-12 col-md-12">

				<div class="form-group">
					<div *ngIf="descriptionRequired" class="alert alert-danger alert-dismissable">
						<a class="close" (click)="hideDescriptionWarning()" aria-label="close">&times;</a> A brief description of your business is required to apply.
					</div>
					<label>Description</label>
					<textarea style="resize: none;" class="form-control" rows="5" cols="50" placeholder="Enter your business description" [(ngModel)]="description" name="description"></textarea>
				</div>

			</div>

			<div class="col-sm-12 col-md-12">
				<div class="login-box-box-action">
					Already have account? <a data-toggle="modal" href="#businessLoginModal">Log-in</a>
				</div>
			</div>

			<div class="col-sm-12 col-md-12">
				<div class="login-box-box-action">
					Not a Business? <a data-toggle="modal" href="#userRegisterModal">Register as a User</a>
				</div>
			</div>

		</div>

	</div>

	<div class="modal-footer text-center">
		<button type="button" class="btn btn-primary" (click)="onSubmit()">Register</button>
		<button type="button" data-dismiss="modal" (click)="onClose()" class="btn btn-primary btn-border">Close</button>
	</div>

</div>
