<head>

	<!-- Fav and Touch Icons -->
	<link rel="apple-touch-icon" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon" href="images/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="images/ico/favicon.png">

	<!-- CSS Plugins -->
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" media="screen">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/plugin.css" rel="stylesheet">

	<!-- CSS Custom -->
	<link href="css/style.css" rel="stylesheet">

	<!-- Add your style -->
	<link href="css/your-style.css" rel="stylesheet">

</head>



<body>

  <div class="pt-30 pb-50">

  				<div class="container">

  					<div class="row">

  						<div class="col-xs-12 col-sm-4 col-md-3 mt-20">

  							<aside class="sidebar-wrapper pr-15 pr-0-xs">

  								<div class="common-menu-wrapper">

  									<ul class="common-menu-list">

  										<li [class.active]="showDashboard"><a (click)="onDashboardClick()">Dashboard</a></li>
  										<li [class.active]="showOther"><a (click)="onOtherClick()">Other</a></li>
  										<li><a href="guide-detail-setting-guide-information.html">Guide Information</a></li>
  										<li><a href="guide-detail-setting-change-pass.html">Change password</a></li>
  										<li><a href="guide-detail-setting-my-tour.html">My tour</a></li>
  										<li><a href="guide-detail-setting-my-wihslist.html">My wihslist</a></li>
  										<li><a href="#">Logout</a></li>

  									</ul>

  								</div>

  							</aside>

  						</div>

  						<div *ngIf="showDashboard" class="col-xs-12 col-sm-8 col-md-9 mt-20">

  							<div class="dashboard-wrapper">

  								<h4 class="section-title">Hello Kalvin</h4>
  								<p class="mmt-15 mb-20">Your last loged-in: <span class="text-primary">11:42:21 am - March 15, 2016</span></p>

  								<div class="admin-empty-dashboard">

  									<div class="icon">
  										<i class="ion-ios-book-outline"></i>
  									</div>

  									<h4>You have no any activities yet!</h4>

  									<a href="#" class="btn btn-primary">Create Tour Offer</a>
  									<a href="#" class="btn btn-primary">Browse Tour Offer</a>

  								</div>

  							</div>

  						</div>

              <div *ngIf="showOther" class="col-xs-12 col-sm-8 col-md-9 mt-20">
                <h1> OTHER SHIT </h1>
              </div>

  					</div>

  				</div>

  			</div>

        <!-- Core JS -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/core-plugins.js"></script>
  <script type="text/javascript" src="js/customs.js"></script>

  <!-- Detail Page JS -->
  <script type="text/javascript" src="js/jquery.stickit.js"></script>
  <script type="text/javascript" src="js/bootstrap-tokenfield.js"></script>
  <script type="text/javascript" src="js/typeahead.bundle.min.js"></script>
  <script type="text/javascript" src="js/jquery.sumogallery.js"></script>
  <script type="text/javascript" src="js/images-grid.js"></script>
  <script type="text/javascript" src="js/jquery.bootstrap-touchspin.js"></script>
  <script type="text/javascript" src="js/customs-detail.js"></script>









</body>
