<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Black Hats</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <!-- CSS Plugins -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/plugin.css" rel="stylesheet">


</head>
<body>

<!-- Core JS -->

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/core-plugins.js"></script>
<script type="text/javascript" src="js/customs.js"></script>

<!-- Detail Page JS -->
<script type="text/javascript" src="js/jquery.stickit.js"></script>
<script type="text/javascript" src="js/bootstrap-tokenfield.js"></script>
<script type="text/javascript" src="js/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="js/jquery.sumogallery.js"></script>
<script type="text/javascript" src="js/images-grid.js"></script>
<script type="text/javascript" src="js/jquery.bootstrap-touchspin.js"></script>
<script type="text/javascript" src="js/customs-detail.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="js/customs-result.js"></script>
<script type="text/javascript" src="js/fileinput.min.js"></script>
<script type="text/javascript" src="js/dropzone.min.js"></script>


<my-app><div id="introLoader" class="introLoading"></div></my-app>
<!-- this is how our angular app gets served -->
<script src="/js/app/bundle.js"></script>

</body>
</html>
