<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Black Hats</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/public/css/style.css'/>

</head>
<body>
<my-app>Loading...</my-app>
<!-- Core JS -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/core-plugins.js"></script>
<script type="text/javascript" src="js/customs.js"></script>

<!-- Detail Page JS -->
<script type="text/javascript" src="js/jquery.stickit.js"></script>
<script type="text/javascript" src="js/bootstrap-tokenfield.js"></script>
<script type="text/javascript" src="js/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="js/jquery.sumogallery.js"></script>
<script type="text/javascript" src="js/images-grid.js"></script>
<script type="text/javascript" src="js/jquery.bootstrap-touchspin.js"></script>
<script type="text/javascript" src="js/customs-detail.js"></script>
<script type="text/javascript" src="js/customs-result.js"></script>
<!-- this is how our angular app gets served -->
<script src="/js/app/bundle.js"></script>

</body>
</html>
