<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <title>Black Hats</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Activities, Adventure, Entertainment, Egypt, Escape, Breakout" />
    <meta name="author" content="Black Hats">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body>
    
    <my-app></my-app>
    <!-- this is how our angular app gets served -->
    <script src="/js/app/bundle.js"></script>

      <!-- Core JS -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    {{!--<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>--}}
    <script type="text/javascript" src="/js/core-plugins.js"></script>
    <script type="text/javascript" src="/js/customs.js"></script>

    <!-- Detail Page JS -->
    <script type="text/javascript" src="/js/jquery.stickit.js"></script>
    <script type="text/javascript" src="/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/js/bootstrap-tokenfield.js"></script>
    <script type="text/javascript" src="/js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="/js/jquery.sumogallery.js"></script>
    <script type="text/javascript" src="/js/images-grid.js"></script>
    <script type="text/javascript" src="/js/jquery.bootstrap-touchspin.js"></script>
    <script type="text/javascript" src="/js/customs-detail.js"></script>
    <script type="text/javascript" src="/js/bootbox.min.js"></script>
    <script type="text/javascript" src="/js/jquery.flexdatalist.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
    <script type="text/javascript" src="/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/js/dropzone.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <!-- FastClick -->
    <script src="/admin/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/admin/js/nprogress.js"></script>
    <!-- Datatables -->
    <script src="/admin/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/admin/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/admin/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/admin/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/admin/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/admin/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/admin/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/admin/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/admin/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/admin/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/admin/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/admin/jszip/dist/jszip.min.js"></script>
    <script src="/admin/pdfmake/build/pdfmake.min.js"></script>
</body>

</html>