<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Black Hats</title>

    <!-- Bootstrap -->
    <link href="/admin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--NProgress -->
    <link href="/admin/css/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/admin/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="/admin/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/admin/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/admin/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/admin/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/admin/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/admin/css/custom.min.css" rel="stylesheet">

</head>

<body>
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/admin/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/admin/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/admin/js/nprogress.js"></script>
    <!-- Datatables -->
    <script src="/admin/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/admin/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/admin/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/admin/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/admin/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/admin/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/admin/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/admin/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/admin/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/admin/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/admin/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/admin/jszip/dist/jszip.min.js"></script>
    <script src="/admin/pdfmake/build/pdfmake.min.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <my-app>loading...</my-app>
    <!-- this is how our angular app gets served -->
    <script src="/js/app/bundle.js"></script>
</body>

</html>