<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <title>Black Hats</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="HTML template for multiple tour agency, local agency, traveller, tour hosting based on Twitter Bootstrap 3.x.x" />
    <meta name="keywords" content="tour agency, tour guide, travel, trip, holiday, vocation, relax, adventure, virtual tour, tour planner" />
    <meta name="author" content="crenoveative">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fav and Touch Icons -->
    <link rel="apple-touch-icon" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon" href="/images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/images/ico/favicon.png">

    <!-- CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" media="screen">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/plugin.css" rel="stylesheet">

    <!-- CSS Custom -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Add your style -->
    <link href="/css/your-style.css" rel="stylesheet">



</head>

<body class="home transparent-header">

    <my-app>Loading...</my-app>

    <!-- Core JS -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/core-plugins.js"></script>
    <script type="text/javascript" src="/js/customs.js"></script>

    <!-- Detail Page JS -->
    <script type="text/javascript" src="/js/jquery.stickit.js"></script>
    <script type="text/javascript" src="/js/bootstrap-tokenfield.js"></script>
    <script type="text/javascript" src="/js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="/js/jquery.sumogallery.js"></script>
    <script type="text/javascript" src="/js/images-grid.js"></script>
    <script type="text/javascript" src="/js/jquery.bootstrap-touchspin.js"></script>
    <script type="text/javascript" src="/js/customs-detail.js"></script>
    <script type="text/javascript" src="/js/bootbox.min.js"></script>
    <script type="text/javascript" src="/js/jquery.flexdatalist.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.timepicker.js"></script>
    <script type="text/javascript" src="/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/js/dropzone.min.js"></script>


    <!-- this is how our angular app gets served -->
    <script src="/js/app/bundle.js"></script>

</body>

</html>
