<!-- start Register Modal -->
<div id="userRegisterModal" class="modal fade login-box-wrapper" style="background-color: #fff; border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);" tabindex="-1" data-backdrop="static" data-keyboard="false" data-replace="true">


    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center">Create your account</h4>
    </div>
    <div *ngIf="success" class="alert alert-success">
        Sucessful Registration!
    </div>
    <div *ngIf="failure" class="alert alert-danger">{{ message }}</div>


    <div class="modal-body">

        <div class="row gap-20">

            <div class="col-sm-12 col-md-12">

                <div class="form-group">
                    <div *ngIf="firstNameRequired" class="alert alert-danger alert-dismissable">
                        <a class="close" (click)="hideFirstNameWarning()" aria-label="close">&times;</a> First Name is required
                    </div>
                    <label>First Name</label>
                    <input class="form-control" placeholder="Enter your First Name" type="text" [(ngModel)]="firstName" name="firstName" required>
                </div>

            </div>

            <div class="col-sm-12 col-md-12">

                <div class="form-group">
                    <div *ngIf="lastNameRequired" class="alert alert-danger alert-dismissable">
                        <a class="close" (click)="hideLastNameWarning()" aria-label="close">&times;</a> Last Name is required
                    </div>
                    <label>Last Name</label>
                    <input class="form-control" placeholder="Enter your Last Name" type="text" [(ngModel)]="lastName" name="lastName" required>
                </div>

            </div>

            <div class="col-sm-12 col-md-12">

                <div class="form-group">
                    <div *ngIf="usernameRequired" class="alert alert-danger alert-dismissable">
                        <a class="close" (click)="hideUsernameWarning()" aria-label="close">&times;</a> Username is required
                    </div>
                    <label>Username</label>
                    <input class="form-control" placeholder="Enter your username" type="text" [(ngModel)]="username" name="username" required>
                </div>

            </div>

            <div class="col-sm-12 col-md-12">

                <div class="form-group">
                  <div *ngIf="passwordRequired" class="alert alert-danger alert-dismissable">
                    <a class="close" (click)="hidePasswordWarning()" aria-label="close">&times;</a> Password is required!
                  </div>
                  <div *ngIf="!passwordRequired && passwordLength" class="alert alert-danger alert-dismissable">
                    <a class="close" (click)="hideLengthWarning()" aria-label="close">&times;</a> Password must be atleast 8 characters.
                  </div>
                    <label>Password</label>
                    <input class="form-control" placeholder="Minimum 8 characters" type="password" [(ngModel)]="password" name="password" required>
                  </div>

            </div>

            <div class="col-sm-12 col-md-12">

                <div class="form-group">
                  <div *ngIf="!passwordRequired && identicalPasswords" class="alert alert-danger alert-dismissable">
                    <a class="close" (click)="hideIdenticalPasswords()" aria-label="close">&times;</a> Passwords do not match
                  </div>
                    <label>Confirm Password</label>
                    <input class="form-control" placeholder="Re-type password again" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                </div>

            </div>


            <div class="col-sm-12 col-md-12">

                <div class="form-group">
                  <div *ngIf="emailRequired" class="alert alert-danger alert-dismissable">
                    <a class="close" (click)="hideEmailWarning()" aria-label="close">&times;</a> Email address is required
                  </div>
                    <label>Email Address</label>
                    <input class="form-control" placeholder="Enter your email address" type="text" [(ngModel)]="email" name="email" required>
                </div>

            </div>

            <div class="col-sm-12 col-md-12">
                <div class="login-box-box-action">
                    Already have account? <a data-toggle="modal" href="#userLoginModal">Log-in</a>
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <div class="login-box-box-action">
                    Not a User? <a data-toggle="modal" href="#businessRegisterModal">Register as Business</a>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Register</button>
        <button type="button" data-dismiss="modal" (click)="onClose()" class="btn btn-primary btn-border">Close</button>
    </div>

</div>
