<div id="introLoader" class="introLoading"></div>

<div class="main-wrapper scrollspy-container">

	<homepage-search></homepage-search>

	<div class="post-hero clearfix">

		<div class="container">

			<div class="row">

				<div class="col-xs-12 col-sm-4 mb-20-xs">
					<div class="horizontal-featured-icon-sm clearfix">
						<div class="icon"><i class="ri ri-location"></i></div>
						<div class="content">
							<h6>ABOUT US</h6>
							<span>Inhabiting discretion the her dispatched decisively boisterous joy.</span>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4 mb-20-xs">
					<div class="horizontal-featured-icon-sm clearfix">
						<div class="icon"> <i class="ri ri-user"></i></div>
						<div class="content">
							<h6>USER</h6>
							<span>Great asked oh under together prospect kindness securing six.</span>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4 mb-20-xs">
					<div class="horizontal-featured-icon-sm clearfix">
						<div class="icon"> <i class="ri ri-equal-circle"></i></div>
						<div class="content">
							<h6>BUSINESS</h6>
							<span>Sometimes studied evident. Conduct replied removal her cordially. </span>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<homepage-topBusinesses></homepage-topBusinesses>
	<homepage-adSlots></homepage-adSlots>
</div>

<div id="back-to-top">
	<a href="#"><i class="ion-ios-arrow-up"></i></a>
</div>