<div id="introLoader" class="introLoading"></div>

<div class="main-wrapper scrollspy-container">
	<homepage-search></homepage-search>

	<div class="post-hero clearfix">

		<div class="container">

			<div class="row">

				<div class="col-xs-12 col-sm-4 mb-20-xs">
					<div class="horizontal-featured-icon-sm clearfix">
						<div class="icon"><i class="ri ri-location"></i></div>
						<div class="content">
							<h6>ABOUT US</h6>
							<span>Inhabiting discretion the her dispatched decisively boisterous joy.</span>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4 mb-20-xs">
					<div class="horizontal-featured-icon-sm clearfix">
						<div class="icon"> <i class="ri ri-user"></i></div>
						<div class="content">
							<h6>USER</h6>
							<span>Great asked oh under together prospect kindness securing six.</span>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4 mb-20-xs">
					<div class="horizontal-featured-icon-sm clearfix">
						<div class="icon"> <i class="ri ri-equal-circle"></i></div>
						<div class="content">
							<h6>BUSINESS</h6>
							<span>Sometimes studied evident. Conduct replied removal her cordially. </span>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<homepage-topBusinesses></homepage-topBusinesses>
	<homepage-adSlots></homepage-adSlots>
	<footer class="bottom-footer">

		<div class="container">

			<div class="row">

				<div class="col-xs-12 col-sm-6 col-md-4">

					<p class="copy-right">&#169; 2017 BlackHats - entertainment hosting</p>

				</div>

				<div class="col-xs-12 col-sm-6 col-md-4">

					<ul class="bottom-footer-menu">
						<li><a href="#">Policies</a></li>
						<li><a href="#">Terms</a></li>
					</ul>

				</div>

				<div class="col-xs-12 col-sm-12 col-md-4">
					<ul class="bottom-footer-menu for-social">
						<li><a href="#"><i class="icon-social-twitter" data-toggle="tooltip" data-placement="top" title="twitter"></i></a></li>
						<li><a href="#"><i class="icon-social-facebook" data-toggle="tooltip" data-placement="top" title="facebook"></i></a></li>
						<li><a href="#"><i class="icon-social-google" data-toggle="tooltip" data-placement="top" title="google plus"></i></a></li>
						<li><a href="#"><i class="icon-social-instagram" data-toggle="tooltip" data-placement="top" title="instrgram"></i></a></li>
					</ul>
				</div>

			</div>

		</div>
	</footer>


	<div id="back-to-top">
		<a href="#"><i class="ion-ios-arrow-up"></i></a>
	</div>
</div>