<div class="container-wrapper">
	<div class="main-wrapper scrollspy-container">

		<homepage-search></homepage-search>

		<div class="post-hero clearfix">

			<div class="container">

				<div class="row">

					<div class="col-xs-12 col-sm-4 mb-20-xs">
						<div class="horizontal-featured-icon-sm clearfix">
							<div class="icon"><i class="ri ri-location"></i></div>
							<div class="content">
								<h6>ABOUT US</h6>
								<span>We are a unique platform bringing you all the adrenaline packed activities from various businesses all around the country.</span>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-4 mb-20-xs">
						<div class="horizontal-featured-icon-sm clearfix">
							<div class="icon"> <i class="ri ri-user"></i></div>
							<div class="content">
								<h6>USER</h6>
								<span>Create an account now so you can join hundreds of our already existing users, personalize your account and have full access to our services.</span>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-4 mb-20-xs">
						<div class="horizontal-featured-icon-sm clearfix">
							<div class="icon"> <i class="ri ri-equal-circle"></i></div>
							<div class="content">
								<h6>BUSINESS</h6>
								<span>Managing a business can be difficult, that is why we created a user friendly interface to ease all your bookings, mange your venues and see what people think of you.</span>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
		<homepage-topBusinesses></homepage-topBusinesses>
		<homepage-adSlots></homepage-adSlots>

	</div>
</div>
