<!-- start Header -->

<header id="header">

	<!-- start Navbar (Header) -->
	<nav class="navbar navbar-default navbar-fixed-top navbar-sticky-function navbar-arrow">

		<div class="container">

			<div class="logo-wrapper">
				<div class="logo">
					<a href="/homepage">
						<h1>Black Hats</h1>
					</a>
				</div>
			</div>

			<div id="navbar" class="navbar-nav-wrapper">

				<ul class="nav navbar-nav" id="responsive-menu">
					<li>
						<a href="/homepage">Home</a>
					</li>
					<li>
						<a href="/search?result=undefined&location=All&category=All&sort=interactivity&page=1">Explore</a>
					</li>
					<li *ngIf="loggedin && isUser">
						<a href="{{path}}user/{{user._id}}">Profile</a>
					</li>
					<li *ngIf="loggedin && !isUser">
						<a href="{{path}}business/{{business._id}}">My Page</a>
					</li>
					<li>
						<a href="/contactSupport">Support</a>
					</li>
				</ul>

			</div>
			<!--/.nav-collapse -->

			<div class="nav-mini-wrapper">
				<ul class="nav-mini">
					<li *ngIf="!loggedin"><a data-toggle="modal" href="#userRegisterModal"><i class="icon-user-follow" data-toggle="tooltip" data-placement="bottom" title="Sign Up"></i></a></li>
					<li *ngIf="!loggedin"><a data-toggle="modal" href="#userLoginModal"><i class="icon-login" data-toggle="tooltip" data-placement="bottom" title="Login"></i> </a></li>
					<li *ngIf="loggedin"><a style="cursor: pointer;" (click)="onLogout()"><i class="icon-logout"  data-placement="bottom" title="logout"></i> </a></li>
				</ul>
			</div>
		</div>
		<div id="slicknav-mobile"></div>

	</nav>
	<!-- end Navbar (Header) -->
	<!--loading the login component-->
	<app-signin (loginClicked)="loggedIn($event)"></app-signin>

	<!--loading the register component-->
	<user-register></user-register>
	<business-register></business-register>

</header>

<!-- end Header -->
