<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Fav and Touch Icons -->
	<link rel="apple-touch-icon" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon" href="images/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="images/ico/favicon.png">

	<!-- CSS Plugins -->
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" media="screen">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/plugin.css" rel="stylesheet">

	<!-- CSS Custom -->
	<link href="css/style.css" rel="stylesheet">

	<!-- Add your style -->
	<link href="css/your-style.css" rel="stylesheet">

	<!-- Core JS -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/core-plugins.js"></script>
	<script type="text/javascript" src="js/customs.js"></script>

	<!-- Detail Page JS -->
	<script type="text/javascript" src="js/jquery.stickit.js"></script>
	<script type="text/javascript" src="js/bootstrap-tokenfield.js"></script>
	<script type="text/javascript" src="js/typeahead.bundle.min.js"></script>
	<script type="text/javascript" src="js/jquery.sumogallery.js"></script>
	<script type="text/javascript" src="js/images-grid.js"></script>
	<script type="text/javascript" src="js/jquery.bootstrap-touchspin.js"></script>
	<script type="text/javascript" src="js/customs-detail.js"></script>
</head>



<body>

  <div class="pt-30 pb-50">

  				<div class="container">

  					<div class="row">

  						<div class="col-xs-12 col-sm-4 col-md-3 mt-20">

  							<aside class="sidebar-wrapper pr-15 pr-0-xs">

  								<div class="common-menu-wrapper">

  									<ul class="common-menu-list">

  										<li [class.active]="showReviews"><a (click)="onReviewsClick()">Reviews</a></li>
  										<li [class.active]="showBookings"><a (click)="onBookingsClick()">Bookings</a></li>
  										<li [class.active]="showEdit"><a (click)="onEditClick()">Edit</a></li>
  										<li [class.active]="showFavorites"><a (click)="onFavoritesClick()">Favorites</a></li>

  									</ul>

  								</div>

  							</aside>

  						</div>


							<div *ngIf="showReviews" class="col-xs-12 col-sm-8 col-md-9 mt-20">
                <h1> Reviews </h1>
              </div>

							<div *ngIf="showBookings" class="col-xs-12 col-sm-8 col-md-9 mt-20">
                <app-user-bookings></app-user-bookings>
              </div>

							<div *ngIf="showEdit" class="col-xs-12 col-sm-8 col-md-9 mt-20">
                <h1> Edit Page </h1>
              </div>

							<div *ngIf="showFavorites" class="col-xs-12 col-sm-8 col-md-9 mt-20">
                <h1> Favourites </h1>
              </div>

  					</div>

  				</div>

  			</div>

</body>
