<div class="bg-white pt-70 pb-60 clearfix">

	<div class="container">

		<div class="trip-guide-wrapper mb-30">

			<div class="GridLex-gap-20 GridLex-gap-15-mdd GridLex-gap-10-xs">

				<div class="GridLex-grid-noGutter-equalHeight">

					<div class="GridLex-col-4_mdd-4_sm-6_xs-6_xss-12">

						<div class="trip-guide-item">

							<div class="trip-guide-image">
								<img src="/images/trip/01.jpg" alt="images" />
							</div>

							<div class="trip-guide-content">
								<h3>Bangkok-Pattaya Safari Adventure</h3>
								<p>Game of as rest time eyes with of this it. Add was music merry any truth since going...</p>
							</div>

							<div class="trip-guide-bottom">

								<div class="trip-guide-person clearfix">
									<div class="image">
										<img src="/images/testimonial/01.jpg" class="img-circle" alt="images" />
									</div>
									<p class="name">By: <a href="#">Robert Kalvin</a></p>
									<p>Local expert from Thailand</p>
								</div>

								<div class="trip-guide-meta row gap-10">
									<div class="col-xs-6 col-sm-6">
										<div class="rating-item">
											<input type="hidden" class="rating" data-filled="fa fa-star rating-rated" data-empty="fa fa-star-o" data-fractions="2" data-readonly
											    value="4.5" />
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 text-right">
										5 days 4 nights
									</div>
								</div>

								<div class="row gap-10">
									<div class="col-xs-12 col-sm-6">
										<div class="trip-guide-price">
											Starting at
											<span class="block inline-block-xs">USD 687.00</span>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 text-right text-left-xs">
										<a href="#" class="btn btn-primary">Details</a>
									</div>
								</div>

							</div>

						</div>

					</div>


				</div>

			</div>

		</div>

	</div>