		<!-- start Container Wrapper -->

	<div class="container-wrapper" >

		<!-- start Main Wrapper -->

		<div class="main-wrapper scrollspy-container">

			<!-- start Breadcrumb -->

			<div class="breadcrumb-wrapper">
				<div class="container">
					<ol class="breadcrumb">
						<li><a href="/">Home</a></li>
						<li class="active">Verify Account</li>
					</ol>
				</div>
			</div>

			<!-- end Breadcrumb -->

			<div class="error-page-wrapper">

				<div class="container">

					<div class="row">

						<div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">


							<h1>Account Verification</h1>

							<p>Click below to verify your account</p>
											<br>
											<br>
							<a href="/" class="btn btn-success btn-round" (click)="onVerifyUser()">Verify</a>

						</div>

					</div>

				</div>

			</div>

		</div>

		<!-- end Main Wrapper -->

	</div>

	<!-- end Container Wrapper -->
